/* Start Variables */
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
  --secondary-color: #777;
}
/* End Variables  */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
  -webkit-scroll-behaviour: smooth;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules  */
/* Start Components */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -38px;
  background-color: white;
}
.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: var(--secondary-color);
}
/* End Components */
/* Start Header */
header {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  width: calc(100% - 30px);
  background-color: #a2a2a2;
  bottom: 0;
  left: 15px;
}
header .logo img {
  height: 40px;
}
header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header nav .toggle-menu {
  color: white;
  font-size: 22px;
}
@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}
header nav ul {
  display: flex;
}
@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
  header nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 /50%);
  }
  header nav ul li a {
    padding: 15px !important;
  }
}
header nav ul li a {
  padding: 40px 10px;
  display: block;
  color: white;
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
  position: relative;
  z-index: 2;
}
nav ul li a.active,
nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header nav .form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 40px;
  border-left: 1px solid white;
}
header nav .form i {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
}
/* End Header */
/* Start Landing */
.landing {
  position: relative;
  background-color: #ddd;
  background-image: url(../Images/landing.jpg);
  background-size: cover;
  min-height: 100vh;
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.landing .text {
  position: absolute;
  width: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 65px;
  background-color: var(--transparent-color);
  color: white;
  display: flex;
  justify-content: flex-end;
}
.landing .text .content {
  max-width: 500px;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
  .landing .text .content {
    max-width: 100%;
  }
}
.landing .text .content h2 {
  font-weight: normal;
  line-height: 1.5;
  font-size: 32px;
  margin-bottom: 20px;
}
.landing .text .content p {
  line-height: 2;
  font-size: 14px;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}
@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}
.landing .fa-angle-left {
  left: 30px;
}
.landing .fa-angle-right {
  right: 30px;
}
.landing .bullets {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-left: 10px;
}
.landing .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* End Landing */
/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
@media (min-width: 768px) {
  .services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    column-gap: 40px;
    row-gap: 60px;
  }
}
.services-container .srv-box {
  display: flex;
}
.services-container .srv-box i {
  margin-right: 50px;
}
@media (max-width: 767px) {
  .services-container .srv-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
  .services-container .srv-box i {
    margin: 0 0 30px;
  }
}
.services-container .srv-box .text h3 {
  margin-bottom: 30px;
  color: var(--main-color);
}
.services-container .srv-box .text p {
  line-height: 2;
  color: var(--secondary-color);
}
/* End Services */
/* Start Design */
.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  height: 600px;
  position: relative;
  background-image: url(../Images/design-features.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.design::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.design .image,
.design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}
.design .image {
  text-align: center;
}
@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}
.design .image img {
  position: relative;
  bottom: -150px;
}
.design .text {
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
}
.design .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.design .text ul li {
  padding: 15px 0;
}
.design .text ul li::before {
  content: "\e163";
  font-family: "Font Awesome 6 free";
  font-weight: bold;
  margin-right: 15px;
  position: relative;
  top: 1px;
}
/* End Design */
/* Start Portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portfolio .shuffle {
  display: flex;
  justify-content: center;
}
.portfolio .shuffle li {
  padding: 10px;
}
.portfolio .shuffle li.active {
  background-color: var(--main-color);
  color: white;
}
.portfolio .imgs-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.portfolio .imgs-container .box {
  position: relative;
  overflow: hidden;
}
.portfolio .imgs-container .box:hover .caption {
  bottom: 0;
}
.portfolio .imgs-container .box:hover img {
  transform: rotate(3deg) scale(1.1);
}
@media (min-width: 768px) {
  .portfolio .imgs-container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .portfolio .imgs-container .box {
    flex-basis: 25%;
  }
}
.portfolio .imgs-container .box img {
  max-width: 100%;
  transition: 0.3s;
}
.portfolio .box .caption {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: white;
  transition: 0.3s;
  bottom: -100%;
}
.portfolio .box .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}
.portfolio .box .caption p {
  color: var(--main-color);
}
.portfolio a.more {
  background-color: var(--main-color);
  color: white;
  padding: 15px 20px;
  display: block;
  width: fit-content;
  margin: 30px auto;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 7px;
}
/* End Portfolio */
/* Start Video */
.video {
  position: relative;
}
.video::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}
.video video {
  width: 100%;
}
.video .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
  text-align: center;
  width: 100%;
}
.video .text h2 {
  margin: 0 0 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.video .text p {
  margin-bottom: 20px;
}
.video .text button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
}
.video .text button:hover {
  background-color: var(--main-color);
  color: white;
}
/* End Video */
/* Start About */
.about {
  padding-top: var(--section-padding);
  text-align: center;
  overflow: hidden;
}
.about img {
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .about img {
    bottom: -60px;
    margin-top: -60px;
  }
}
/* End About */
/* Start Stats */
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
  background-image: url(../Images/stats.png);
  background-size: cover;
  position: relative;
}
.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}
.stats .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.stats .container .box {
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
}
@media (max-width: 767px) {
  .stats .container .box {
    flex-basis: 100%;
  }
  .stats .container .box:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
}
@media (min-width: 767px) {
  .stats .container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .stats .container .box {
    flex-basis: 25%;
  }
}
.stats .container .box i {
  width: 40px;
  height: 40px;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto 30px;
}
.stats .container .box .number {
  font-size: 50px;
  font-weight: bold;
  margin: 0 0 20px;
}
.stats .container .box p {
  font-size: 14px;
}
/* End Stats */
/* Start Our Skills  */
.skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .skills .container > div {
    flex-basis: 45%;
  }
}
.skills .container > div > h3 {
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 30px;
}
.skills .container > div > p {
  color: var(--secondary-color);
  line-height: 2;
  text-align: center;
  margin-bottom: 60px;
}
.testimoials .content {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.testimoials .content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 50px;
}
@media (max-width: 767px) {
  .testimoials .content {
    text-align: center;
    flex-direction: column;
  }
  .testimoials .content img {
    margin: 0 auto 20px;
  }
}
.testimoials .content .text {
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
}
.testimoials .content .text p {
  color: var(--secondary-color);
  text-align: right;
  font-size: 14px;
  margin-bottom: 10px;
}
.skills .testimoials .bullets {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.skills .testimoials .bullets li {
  width: 14px;
  height: 14px;
  border: 1px solid #aaa;
  border-radius: 50%;
  margin-right: 10px;
}
.skills .testimoials .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.skills .our-skills .prog-holder {
  margin-bottom: 40px;
}
.skills .our-skills .prog-holder h4 {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: normal;
}
.skills .our-skills .prog-holder .prog {
  height: 30px;
  background-color: #dedadc;
}
.skills .our-skills .prog-holder .prog span {
  display: block;
  background-color: var(--main-color);
  height: 100%;
  position: relative;
}
.skills .our-skills .prog-holder .prog span::before {
  content: attr(data-progress);
  position: absolute;
  background-color: black;
  color: white;
  padding: 4px 0;
  width: 40px;
  text-align: center;
  top: -40px;
  right: -18px;
  border-radius: 4px;
}
.skills .our-skills .prog-holder .prog span::after {
  content: "";
  position: absolute;
  top: -15px;
  right: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
/* End Our Skills  */
/* Start Quote */
.quote {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../Images/quote.jpg);
  position: relative;
  background-size: cover;
  text-align: center;
  color: white;
}
.quote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 75%);
}
.quote .container {
  position: relative;
}
.quote q {
  font-size: 30px;
  margin-bottom: 20px;
  display: block;
}
/* End Quote */
/* Start Pricing */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.pricing .plans .plan {
  text-align: center;
  background-color: #fcfcfc;
}
.pricing .plans .plan .head {
  padding: 40px 20px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan .head h3 {
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.pricing .plans .plan .head span {
  font-size: 60px;
  font-weight: bold;
}
.pricing .plans .plan .head span::before {
  content: "$";
  font-size: 25px;
  font-weight: normal;
  position: relative;
  top: -40px;
  margin-right: 15px;
}
.pricing .plans .plan .head span::after {
  content: "/MO";
  font-size: 25px;
  position: relative;
  right: -15px;
}
.pricing .plans .plan ul {
  border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan ul li {
  padding: 20px;
  position: relative;
}
.pricing .plans .plan ul li:not(:last-child)::after {
  content: "";
  width: 140px;
  height: 1px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.pricing .plans .plan .foot a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid var(--main-color);
  width: fit-content;
  margin: 30px auto;
  color: var(--main-color);
}
.pricing .plans .plan .foot a:hover {
  background-color: var(--main-color);
  color: white;
}
.pricing .contact-text {
  text-align: center;
  margin: 50px auto 20px;
  font-size: 20px;
}
.pricing .contact-link {
  display: block;
  width: fit-content;
  margin: 20px auto;
  background-color: var(--main-color);
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
}
/* Start Pricing */
/* Start Subscribe */
.subscribe {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../Images/subscribe.jpg);
  position: relative;
  background-size: cover;
  color: white;
}
.subscribe::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}
.subscribe .container {
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
}
.subscribe form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}
.subscribe form i {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  left: 25px;
}
.subscribe form input[type="email"] {
  padding: 20px 20px 20px 60px;
  background: none;
  border: 1px solid white;
  caret-color: var(--main-color);
  width: calc(100% - 130px);
  border-right: none;
}
.subscribe form input[type="email"]::placeholder {
  color: white;
}
.subscribe form input[type="email"]:focus,
.subscribe form input[type="submit"]:focus {
  outline: none;
}
.subscribe form input[type="submit"] {
  width: 130px;
  background-color: var(--main-color);
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  text-transform: uppercase;
  border-left: none;
  cursor: pointer;
}
.subscribe p {
  line-height: 2;
  margin-left: 50px;
}
@media (max-width: 991px) {
  .subscribe p {
    margin: 30px 0 0;
    text-align: center;
  }
}
/* End Subscribe */
/* Start Contact-Us */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact .content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact .content {
    flex-direction: column-reverse;
    text-align: center;
  }
}
.contact .content form {
  flex-basis: 70%;
}
@media (max-width: 767px) {
  .contact .content form {
    margin-top: 40px;
  }
}
.contact .content .main-input {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  caret-color: var(--main-color);
}
.contact .content .main-input:focus {
  outline: none;
}
.contact .content textarea.main-input {
  height: 200px;
  resize: none;
}
.contact .content input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  border: none;
  display: flex;
  margin-left: auto;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
}
.contact .content input[type="submit"]:hover {
  background-color: white;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
.contact .content .info {
  flex-basis: 25%;
}
.contact .content .info h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 500;
}
.contact .content .info .phone {
  display: block;
  margin-bottom: 10px;
  color: #777;
}
.contact .content .info h4:nth-of-type(2) {
  margin-top: 90px;
}
@media (max-width: 767px) {
  .contact .content .info h4:nth-of-type(2) {
    margin-top: 30px;
  }
}
.contact .content .info address {
  color: #777;
  line-height: 2;
}
/* End Contact-Us */
/* Start Footer */
.footer {
  background-image: url(../Images/subscribe.jpg);
  background-size: cover;
  padding-top: calc(var(--section-padding) / 2);
  padding-bottom: calc(var(--section-padding) / 2);
  position: relative;
  text-align: center;
  color: white;
}
.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}
.footer .container {
  position: relative;
}
.footer .container a img {
  margin-bottom: 20px;
}
.footer .container p:not(.copyright) {
  font-size: 22px;
  padding: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid white;
  width: fit-content;
  margin: 20px auto;
}
.footer .social-icons i {
  padding: 10px 15px ;
}
.footer .copyright {
  margin-top: 60px;
}
.footer .copyright span {
  color: var(--main-color);
  font-weight: bold;
}
/* End Footer */
